@import "normalize", "responsive", "nav", "section1", "section2";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

.container {
  width: 95vw;
  margin: 0 auto;
  background-color: #ebebeb;
}

// ------------------ START SECTION #3 ------------------
.section-3 {
  border: 1px solid aqua;

  .tabbed-content {
    width: 1300px;
    background-color: rgba($color: #fff, $alpha: 0.9);
    margin: 100px auto;
    border-radius: 15px;
  }

  .buttons-section {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;

    button {
      padding: 0.8rem;
      border-radius: 10px;
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
      width: 200px;
      text-transform: uppercase;
      margin: 0 40px;
      cursor: pointer;
    }

    .btn[data-tab="1"] {
      background-color: aqua;
    }
    .btn[data-tab="2"] {
      background-color: gold;
    }
    .btn[data-tab="3"] {
      background-color: lightgreen;
    }
  }
}

.content-section {
  i {
    padding: 1rem;
    font-size: 1.3rem;
    color: green;
    background-color: lightgreen;
    border-radius: 50%;
    width: 75px;
  }
}

.content {
  display: none;
  padding: 5rem;
}
.show-tab {
  display: grid;
}

@include section3-responsive;
// ------------------ END SECTION #2 ------------------
